<div class="dropdown" id="exceptional-dropdown">
  <div class="dropdown-left">
    <div class="new-arrival-banner">
      <span class="label">NEW ARRIVAL</span>
      <div class="arrival-item">
        <span class="new-tag">N</span>
        <a href="#" class="collection-title">CRUSHED ELEGANCE</a>
      </div>
    </div>
    <div class="menu-sections">
      <div class="menu-group">
        <div class="toggle">
          <h4>SHOP</h4>
          <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6" />
          </svg>
        </div>
        <ul>
          <li><a href="#">Shop All</a></li>
          <li><a href="#">T-Shirts</a></li>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Pants</a></li>
          <li><a href="#">Co-ords</a></li>
        </ul>
      </div>
      <div class="menu-group">
        <div class="toggle">
          <h4>DROPS</h4>
          <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6" />
          </svg>
        </div>
        <ul>
          <li><a href="#">Crushed Elegance</a></li>
          <li><a href="#">Billionaire’s Afternoon</a></li>
          <li><a href="#">Rev It</a></li>
          <li><a href="#">Romance With Nature</a></li>
        </ul>
      </div>
    </div>
    <div class="extra-links">
      <a href="#">Bestseller</a>
      <a href="#">Track Order</a>
      <a href="#">Esteem Points</a>
      <a href="#">Blogs</a>
    </div>
    <div class="footer-bottom-links">
      <a href="/account">Account</a>
      <a href="/pages/contact">Contact Us</a>
    </div>
  </div>
  <div class="dropdown-right">
    <img src="https://cdn.shopify.com/s/files/1/0702/2493/7184/files/Exceptional.webp?v=1760155824" />
  </div>
</div>
