{% comment %}
========================
CUSTOM HEADER (PC ONLY)
========================
{% endcomment %}
{{ 'custom-mega-menu.css' | asset_url | stylesheet_tag }}
<section class="custom-header-pc">
  <!-- NAVBAR -->
  <header class="navbar">
    <div class="nav-left">
      <ul class="nav-menu">
        <li class="nav-item" data-menu="men"><a href="#">Men</a></li>
        <li class="nav-item" data-menu="women"><a href="#">Women</a></li>
        <li class="nav-item" data-menu="exceptional"><a href="#">Exceptionals</a></li>
      </ul>
    </div>

    <div class="nav-center">
      <a href="/">
       <img src="https://cdn.shopify.com/s/files/1/0702/2493/7184/files/NameLogo_d57b43eb-c7d4-4842-8fa9-2c63fb6015d4.webp?v=1760155823" alt="Easywear" class="nav-logo" />

      </a>
    </div>

    <div class="nav-right">
      <ul class="nav-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="{{ routes.account_url }}">Account</a></li>
        <li><a href="{{ routes.cart_url }}" class="header__icon header__icon--cart" {% if settings.show_quick_cart %} data-cart-sidebar{% endif %}>
    {% render 'icon-cart-02', class: 'stroke-icon', width: '24' %}
    <div class="cart-count-bubble">
        <span class="text" data-cart-count>{{ cart.item_count }}</span>
    </div>
</a></li>
      </ul>
    </div>
  </header>

  <!-- Include dropdowns -->
  {% render 'mega-menu-men' %}
  {% render 'mega-menu-women' %}
  {% render 'mega-menu-exceptional' %}
</section>
